@page "/"

<PageTitle>Questionário Online</PageTitle>

<div class="text-center">
    <h1 class="display-4">Sistema de Questionário Online</h1>
    <hr class="my-4" />
    <p>
        Nosso sistema permite que você responda a questionários de forma simples.
        Os resultados são apresentados de forma segura.
    </p>
    <div class="d-flex gap-3 justify-content-center">
        <a class="btn btn-primary btn-lg" href="surveys" role="button">
            Ver Pesquisas Disponíveis
        </a>
        <a class="btn btn-success btn-lg" href="surveys/create" role="button">
            Criar Nova Pesquisa
        </a>
    </div>
</div>
